
BookListRazor/BookListRazor/obj/
BookListRazor/BookListRazor/bin/
BookListRazor/.vs/
BulkyBook/BulkyBook/bin/
BulkyBook/BulkyBook/obj/
BulkyBook/.vs/
BulkyBook/Infrastructure/bin/
BulkyBook/Infrastructure/obj/
BulkyBook/Model/bin/
BulkyBook/Model/obj/
BulkyBook/Book.Services/bin/
BulkyBook/Book.Services/obj/
